<h2 style="text-align:center; margin: 40px 0px;">Images</h2>
<div class="images">
  <div class="image-item maxScale"  *ngFor="let image of images">

        <a routerLink="/category/{{image.category_id}}/image-id/{{image.id}}" [state]="{ image:image }" [title]="image.name + ' details'" >
          <h3>
            {{ image.name }}
          </h3>
      <img class="zoom" src={{image.images}}>
      <br>
      <h4> {{ image.price }} $ </h4>
    </a>
      <div style="display:flex;justify-content:space-between">
        <!-- <button (click)="share(image)">
          Share
        </button> -->

      </div>
  </div>
</div>
