<app-top-bar></app-top-bar>
<div>
  <div class="side">
    <app-navigation></app-navigation>
  </div>
</div>
<div class="container">

</div>
<div >
<!--  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top"-->
  <h6 class="centreAt">
<!--    class="my-0 mr-md-auto font-weight-normal"-->
    WELCOME TO GALLERY!</h6><br>
   <h6 class="centreAt"> CHOOSE CATEGORY TO VIEW ABOUT PAINTING MORE.</h6>

  <nav class="my-2 my-md-0 mr-md-3">

  </nav>

</div>
<router-outlet>
</router-outlet>
